.container {
    padding: 2%;
}

form {
    width: 50%;
}

input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

button {
    width: 40%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

button:hover {
    opacity: 0.8;
}